/*my superb css*/

body {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
    background-color: aquamarine;
}

header, footer {
    background-color: darkcyan;
}

.site-title {
    color:blueviolet;
}

#my-image {
    border: 1px solid;
    box-shadow: 0 0 2px 1px black;
}

ul {
   list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: skyblue
}

nav ul{
    list-style-type: none;
    text-decoration: none;
}

/* Add background and border to link. Change color on hover/active.*/
